Django==6.0.3
django-environ==0.13.0
djangorestframework==3.16.1
channels==4.2.2
channels-redis==4.2.1
daphne==4.1.2
numpy==2.4.4
packaging==26.0
Pillow==12.2.0
reportlab==4.4.10
sqlparse==0.5.5
TA-Lib==0.6.8
tablib==3.9.0
tzdata==2025.3
openpyxl==3.1.5
django-cors-headers==4.6.0
whitenoise==6.8.2
dj-database-url==2.3.0
psycopg2-binary==2.9.10
requests>=2.31.0
django-csp==3.8
pyotp==2.9.0
qrcode==7.4.2
django-redis==5.4.0
cloudinary
django-cloudinary-storage
djangorestframework-simplejwt
resend
